* {
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    /* justify-content: center; */
}
.half{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    margin: 20px;
}
.neet{
    border: rgb(84, 82, 82);
    border-style:solid;
    /* border: 5px; */
    padding: 10px;
    margin: 5px;
}
.jee{
    border: rgb(84, 82, 82);
    border-style:solid;
    /* border: 5px; */
    padding: 10px;
    margin: 5px;
}
.school{
    border: rgb(84, 82, 82);
    border-style:solid;
    /* border: 5px; */
    padding: 10px;
    margin: 5px;
}
.govt{
    border: rgb(84, 82, 82);
    border-style:solid;
    /* border: 5px; */
    padding: 10px;
    margin: 5px;
}
.defence{
    border: rgb(84, 82, 82);
    border-style:solid;
    /* border: 5px; */
    padding: 10px;
    margin: 5px;
}
.ca{
    border: rgb(84, 82, 82);
    border-style:solid;
    /* border: 5px; */
    padding: 10px;
    margin: 5px;
}
.secondhalf{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    margin: 20px;
}
button {

  }